*{padding: 0;box-sizing: border-box;}
*::before {box-sizing: border-box}
*::after {box-sizing: border-box}
ul,ol,li {list-style: none;padding: 0}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
